@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: #d6d1bf;
  background: #ece8e2;
  height: 100%;
  position: relative;
}

a {
  color: #d6d1bf;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #d6d1bf;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #d6d1bf;
  font-family: 'Cormorant Garamond', serif;
  /*font-style: italic;
	font-weight: 700;*/
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

#qbootstrap-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  #qbootstrap-header {
    margin-top: 0;
    background: #fff;
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #qbootstrap-header .navbar-brand {
    color: #fff !important;
  }
  #qbootstrap-header #navbar li a {
    color: rgba(255, 255, 255, 1) !important;
    transition: 0.3s;
  }
  #qbootstrap-header #navbar li a:hover {
    color: #d6d1bf !important;
  }
  #qbootstrap-header #navbar li a span:before {
    background: transparent !important;
  }
  #qbootstrap-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #d6d1bf !important;
  }
  #qbootstrap-header #navbar li.active a span:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
#qbootstrap-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#qbootstrap-header #navbar li a {
  font-family: "Cormorant Garamond", serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}
#qbootstrap-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#qbootstrap-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d6d1bf;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
#qbootstrap-header #navbar li a:hover {
  color: #fff;
}
#qbootstrap-header #navbar li a:hover span:before {
  visibility: visible;
  transform: scaleX(1);
}
#qbootstrap-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#qbootstrap-header #navbar li.active a span:before {
  visibility: visible;
  transform: scaleX(1);
}
#qbootstrap-header .navbar-brand {
  float: left;
  display: block;
  font-size: 34px;
  padding-left: 0;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
}
#qbootstrap-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#qbootstrap-header.navbar-fixed-top .navbar-brand {
  color: #d6d1bf;
}
#qbootstrap-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
#qbootstrap-header.navbar-fixed-top #navbar li a:hover {
  color: #d6d1bf;
}
#qbootstrap-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #d6d1bf;
}
#qbootstrap-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  transform: scaleX(1);
}
#qbootstrap-header .navbar-default {
  border: transparent;
  background: transparent;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #qbootstrap-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#qbootstrap-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#qbootstrap-header .navbar-default .brand-slogan em {
  color: #d6d1bf;
  font-style: normal;
}
#qbootstrap-header a {
  transition: 0s;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  clear: both;
}
.section-heading.svg-sm-2 .svg {
  height: 150px;
  margin-bottom: 0;
  padding: 0;
}
.section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -80px;
  padding: 0;
}
.section-heading.colored .svg {
  fill: #d6d1bf;
}
.section-heading h2 {
  font-size: 40px;
  color: #d6d1bf;
  display: block;
  padding-bottom: 10px;
  line-height: 1.3;
	letter-spacing: 5px;
	font-weight: 700;
	text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
	  letter-spacing: 4px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.3;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 34px !important;
    line-height: 34px;
  }
}

.btn {
  transition: 0.3s;
}

#qbootstrap-couple,
#qbootstrap-countdown,
#qbootstrap-groom-bride,
#qbootstrap-story,
#qbootstrap-people,
#qbootstrap-when-where,
#qbootstrap-started,
#qbootstrap-gallery,
#qbootstrap-testimonials,
#qbootstrap-press {
  padding: 1em 0;
}
@media screen and (max-width: 480px) {
  #qbootstrap-couple,
#qbootstrap-countdown,
#qbootstrap-groom-bride,
#qbootstrap-story,
#qbootstrap-people,
#qbootstrap-when-where,
#qbootstrap-started,
#qbootstrap-gallery,
#qbootstrap-testimonials,
#qbootstrap-press {
    padding: 1em 0;
  }
}

.qbootstrap-bg {
  background: rgba(0, 0, 0, 0.03);
}

.qbootstrap-cover,
.qbootstrap-hero {
  position: relative;
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover,
.qbootstrap-hero {
    height: 700px;
  }
}

.qbootstrap-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.qbootstrap-cover,
.video-hero {
  background-size: 130%;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover,
.video-hero {
    height: inherit;
    padding: 1em 0;
  }
}

.qbootstrap-cover .display-t,
.video-hero .display-t {
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-t,
.video-hero .display-t {
    height: 600px;
  }
}
.qbootstrap-cover .display-tc,
.video-hero .display-tc {
  display: table-cell;
  vertical-align: bottom;
	padding-bottom: 120px;
}
@media screen and (max-width: 440px) {
.qbootstrap-cover .display-tc,
.video-hero .display-tc {
  padding-bottom: 20px;
	}
}
.qbootstrap-cover .display-tc .holder,
.video-hero .display-tc .holder {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.qbootstrap-cover .display-tc .holder span,
.video-hero .display-tc .holder span {
  position: relative;
}
.qbootstrap-cover .display-tc .holder span:before, .qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:before,
.video-hero .display-tc .holder span:after {
  position: absolute;
  top: 49%;
  width: 100px;
  height: 2px;
  background: #fff;
  content: "";
}
.qbootstrap-cover .display-tc .holder span:before,
.video-hero .display-tc .holder span:before {
  left: -110px;
}
.qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:after {
  right: -110px;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-tc .holder,
.video-hero .display-tc .holder {
    letter-spacing: 2px;
  }
  .qbootstrap-cover .display-tc .holder span,
.video-hero .display-tc .holder span {
    position: relative;
  }
  .qbootstrap-cover .display-tc .holder span:before, .qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:before,
.video-hero .display-tc .holder span:after {
    width: 50px;
    height: 2px;
  }
  .qbootstrap-cover .display-tc .holder span:before,
.video-hero .display-tc .holder span:before {
    left: -60px;
  }
  .qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:after {
    right: -60px;
  }
}
.qbootstrap-cover .display-tc h2,
.video-hero .display-tc h2 {
  color: #d6d1bf;
  font-size: 45px;
  margin-bottom: 0px;
	letter-spacing: 2px;
  font-weight: 300 !important;
}
.qbootstrap-cover .display-tc h2 strong,
.video-hero .display-tc h2 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-tc p, .video-hero .display-tc p {
    font-size: 45px;
  }
}
.qbootstrap-cover .display-tc p,
.video-hero .display-tc p {
  color: #d6d1bf;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 2px;
	margin-bottom: 10PX;
}
.qbootstrap-cover .display-tc .svg-sm .svg,
.video-hero .display-tc .svg-sm .svg {
  height: 150px;
  margin-bottom: 0;
}
.qbootstrap-cover .display-tc .colored .svg,
.video-hero .display-tc .colored .svg {
  fill: #fff;
}

#qbootstrap-slider-hero {
  min-height: 800px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#qbootstrap-slider-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#qbootstrap-slider-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#qbootstrap-slider-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 770px;
  position: relative;
}
#qbootstrap-slider-hero .flexslider .slides li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#qbootstrap-slider-hero .flexslider .flex-control-nav {
  bottom: 7em;
  z-index: 1000;
}
#qbootstrap-slider-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#qbootstrap-slider-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: #d6d1bf;
}
#qbootstrap-slider-hero .flexslider .flex-direction-nav {
  display: none;
}
#qbootstrap-slider-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 800px;
  z-index: 9;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  height: 800px;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1, #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1 {
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 1.3;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1 {
    font-size: 30px;
  }
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder {
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span {
  position: relative;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before, #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
  position: absolute;
  top: 49%;
  width: 100px;
  height: 2px;
  background: #fff;
  content: "";
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before {
  left: -110px;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
  right: -110px;
}
@media screen and (max-width: 768px) {
  #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder {
    letter-spacing: 2px;
  }
  #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span {
    position: relative;
  }
  #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before, #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
    width: 50px;
    height: 2px;
  }
  #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before {
    left: -60px;
  }
  #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
    right: -60px;
  }
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 40px;
  font-family: "Cormorant Garamond", serif;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 a {
  color: rgba(255, 255, 255, 0.5);
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .date {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 10px;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .date span {
  padding: 5px 20px;
  border: 1px solid #fff;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .btn {
  padding: 18px 30px !important;
  color: #fff;
  border: none !important;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
  background: #d6d1bf !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#qbootstrap-couple {
  background: #968e6f;
	color: #ece8e2;
}

#qbootstrap-couple img {
  margin-bottom: 20px;
  border-radius: 50%;
}
#qbootstrap-couple h3 {
  font-size: 34px;
  font-family: 'Cormorant Garamond', serif;
  color: #d6d1bf;
}
@media screen and (max-width: 768px) {
  #qbootstrap-couple h3 {
    font-size: 35px;
  }
}
#qbootstrap-couple span {
  color: #d6d1bf;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid rgba(255, 132, 124, 0.3);
  padding: 2px 5px;
}
#qbootstrap-couple .amp-center {
  font-size: 60px;
  margin-top: 100%;
  color: #d6d1bf;
}
@media screen and (max-width: 768px) {
  #qbootstrap-couple .amp-center {
    font-size: 40px;
  }
}
#qbootstrap-couple .amp-center .colored .svg {
  fill: #d6d1bf;
}
#qbootstrap-couple .section-heading {
  padding-bottom: 0;
  margin-bottom: 0;
}

.qbootstrap-bg {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

#qbootstrap-countdown {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
}

/*pruebas zam*/
#qbootstrap-countdown .fotocuenta {
  width: 200px;
	margin-left: 0px;
	margin-top: 50px;
}

#qbootstrap-countdown h2,h3 {
  margin-bottom: 0px;
	margin-top: 0px;
}

#qbootstrap-countdown h2 {
  font-size: 40px;
	letter-spacing: 2px;
}
#qbootstrap-countdown h3 {
  font-size: 25px;
	letter-spacing: 2px;
}

#qbootstrap-countdown .container {
  position: relative;
  text-align: center;
}

#qbootstrap-countdown .top-left {
  position: absolute;
  top: 78px;
  left: 420px;
	text-align: left;
}

#qbootstrap-countdown .bottom-right {
  position: absolute;
  bottom: 8px;
  right: 420px;
	text-align: right;
}


@media screen and (max-width: 440px) {
	#qbootstrap-countdown .top-left {
  position: absolute;
  top: 78px;
  left: 40px;
	text-align: left;
}

#qbootstrap-countdown .bottom-right {
  position: absolute;
  bottom: 8px;
  right: 40px;
	text-align: right;
}
}


/*prueba zam*/

#qbootstrap-countdown .section-heading {
  margin-bottom: 0 !important;
}
#qbootstrap-countdown .section-heading h2 {
  color: #d6d1bf;
}
@media screen and (max-width: 768px) {
  #qbootstrap-countdown .section-heading h2 {
    font-size: 30px;
  }
}
#qbootstrap-countdown .section-heading .datewed {
  font-size: 20px;
  color: #d6d1bf;
}
#qbootstrap-countdown .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}
#qbootstrap-countdown .section-heading.colored .svg {
  fill: #d6d1bf;
}
#qbootstrap-countdown .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}
#qbootstrap-countdown .countdown {
  margin-bottom: 0;
  font-size: 50px;
  color: #d6d1bf;
}
#qbootstrap-countdown .countdown span {
  margin: 0 20px;
  display: inline-block;
  font-family: 'Cormorant Garamond', serif;
}
#qbootstrap-countdown .countdown small {
  display: block;
  font-size: 12px;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 1px;
  text-transform: uppercase;
	line-height: 1.5;
}
@media screen and (max-width: 992px) {
  #qbootstrap-countdown .countdown {
    font-size: 48px;
  }
  #qbootstrap-countdown .countdown span {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  #qbootstrap-countdown .countdown {
    font-size: 40px;
  }
  #qbootstrap-countdown .countdown span {
    margin: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  #qbootstrap-countdown .countdown {
    font-size: 40px;
	  margin: 0px 10px;
  }
  #qbootstrap-countdown .countdown span {
    margin: 0 5px;
  }
}
#qbootstrap-countdown .display-over {
  z-index: 2;
}

.couple {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin-top: 110px;
}
.couple.groom {
  position: relative;
  z-index: 0;
}
.couple.groom:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  background: #f2f1e9;
  z-index: -1;
}
.couple.bride {
  position: relative;
  z-index: 0;
}
.couple.bride:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  background: #f6efeb;
  z-index: -1;
}
.couple img {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -190px;
  border: 10px solid #fff;
  border-radius: 50%;
}
.couple .desc {
  z-index: 1;
}
.couple .desc h2 {
  color: #d6d1bf;
  font-size: 40px;
  margin-bottom: 30px;
}

#qbootstrap-story {
  background: #292929;
	color: #ece8e2;
}

#qbootstrap-story .section-heading {
  padding-bottom: 0;
  margin-bottom: 0;
}

.timeline {
  list-style: none;
  position: relative;
	text-align: center;
}
/*.timeline:before {
  top: 30px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  border-right: 2px solid #ece8e2;
  left: 50%;
  margin-left: 0px;
}*/

@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -60px;
  }
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}

.timeline-title {
  margin-top: 0;
  font-size: 34px;
  color: #ece8e2;
  margin-bottom: 30px;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}


.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 100px;
  }
}

/*icono nuevo timeline*/

.qbootstrap-greetings {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

#qbootstrap-testimonials {
  background: #d6d1bf;
  z-index: 0;
}
#qbootstrap-testimonials .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}
#qbootstrap-testimonials .section-heading {
  margin-bottom: 0 !important;
}
#qbootstrap-testimonials .section-heading h2 {
  color: #fff;
}
@media screen and (max-width: 768px) {
  #qbootstrap-testimonials .section-heading h2 {
    font-size: 30px;
  }
}
#qbootstrap-testimonials .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}
#qbootstrap-testimonials .section-heading.colored .svg {
  fill: #fff;
}
#qbootstrap-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#qbootstrap-testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#qbootstrap-testimonials .box-testimony a:hover, #qbootstrap-testimonials .box-testimony a:focus, #qbootstrap-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#qbootstrap-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  border-radius: 4px;
}
#qbootstrap-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#qbootstrap-testimonials .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #d6d1bf;
  border-radius: 50%;
}
#qbootstrap-testimonials .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#qbootstrap-testimonials .box-testimony blockquote p {
  font-style: italic;
}
#qbootstrap-testimonials .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#qbootstrap-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
#qbootstrap-testimonials .testimony-slide {
  position: relative;
  color: #fff !important;
  width: 90%;
  margin: 0 auto;
}
#qbootstrap-testimonials .testimony-slide blockquote {
  border: none;
  position: relative;
  padding: 0;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}
#qbootstrap-testimonials .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#qbootstrap-testimonials .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#qbootstrap-testimonials .arrow-thumb a:hover, #qbootstrap-testimonials .arrow-thumb a:focus, #qbootstrap-testimonials .arrow-thumb a:active {
  text-decoration: none;
}
#qbootstrap-testimonials .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.3) !important;
}
#qbootstrap-testimonials .owl-theme .owl-dots .active span {
  background: white !important;
}
#qbootstrap-testimonials .qbootstrap-heading {
  margin-bottom: 3em;
}
#qbootstrap-testimonials .qbootstrap-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}

.groom-men img {
  margin-bottom: 20px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .groom-men img {
    width: 300px;
    margin: 0 auto;
  }
}
.groom-men h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 28px;
}

.wedding-events {
  background: #f1eee7;
}
@media screen and (max-width: 768px) {
  .wedding-events {
    margin-bottom: 2em;
  }
  .wedding-events .desc .date .icon-calendar {
    margin-top: 25px;
    display: inline-block;
  }
}
@media screen and (max-width: 992px) {
  .wedding-events .desc {
    margin-bottom: 2em;
  }
}
.wedding-events .ceremony-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 280px;
}
.wedding-events .desc {
  padding: 2em;
  border: 1px solid rgba(160, 151, 128, 1);
  position: relative;
  z-index: 0;
}
.wedding-events .desc:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  background: #f6f4ee;
  z-index: -1;
}
.wedding-events .desc h3 {
  font-size: 40px;
  color: #d6d1bf;
  display: block;
  margin-bottom: 40px;
}
.wedding-events .desc .date {
  display: block;
}
.wedding-events .desc .date span {
  display: block;
  font-size: 16px;
  color: #000;
}
.wedding-events .desc .icon-tip {
  position: relative;
  width: 100%;
  float: left;
}
.wedding-events .desc .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 60%;
}
.wedding-events .desc .icon i {
  color: #fff;
  padding: 15px;
  background: #d6d1bf;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .wedding-events .desc .icon {
    position: relative;
    margin: 0;
  }
}

#qbootstrap-started {
  position: relative;
}

#qbootstrap-started .transparenciarsvp{
  background: rgba(0, 0, 0, 0.7);
	padding-bottom: 30px;
	padding-top: 30px;
	margin-bottom: 50px;
}
#qbootstrap-started .section-heading {
  margin-bottom: 0 !important;
}
#qbootstrap-started .section-heading h2 {
  color: #ece8e2;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#qbootstrap-started p {
  color: #ece8e2;
	letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  #qbootstrap-started .section-heading h2 {
    font-size: 30px;
  }
}
#qbootstrap-started .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#qbootstrap-started .section-heading .datewed {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
#qbootstrap-started .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}
#qbootstrap-started .section-heading.colored .svg {
  fill: #ece8e2;
}
#qbootstrap-started .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#qbootstrap-started .qbootstrap-heading h2 {
  color: #ece8e2;
}
#qbootstrap-started .qbootstrap-heading p {
  color: rgba(255, 255, 255, 0.5);
}
#qbootstrap-started .form-control {
  /*background: rgba(255, 255, 255, 0.2);*/
  border: none;
  border-bottom: 2px solid #ECE8E2;
  color: #ece8e2;
  font-size: 16px !important;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
  transition: 0.5s;
	border-radius: 0px;
	letter-spacing: 2px;
}




#qbootstrap-started .form-control::-webkit-input-placeholder {
  color: #ece8e2;
}
#qbootstrap-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ece8e2;
}
#qbootstrap-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ece8e2;
}
#qbootstrap-started .form-control:-ms-input-placeholder {
  color: #ece8e2;
}
#qbootstrap-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#qbootstrap-started .btn {
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: transparent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 45px;
  padding-right: 45px;
  line-height: 1.3;
	border-radius: 0px;
	vertical-align: middle;
	width: 50%;
}
#qbootstrap-started .form-inline .form-group {
  width: 95% !important;
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  color: #ece8e2;
	letter-spacing: 2px;
}
#qbootstrap-started .form-inline .form-group .form-control {
  width: 100%;
	text-transform: uppercase;
}
#qbootstrap-started .form-inline .form-group label.sr-only.asistencia {
  overflow: visible;
  clip: inherit;
  padding: 5px;
  position: inherit;
  color: #ece8e2;
  width: auto;
  font-family: 'Cormorant Garamond', serif;
	text-transform: uppercase;
  font-size: 16px;
	letter-spacing: 2px;
}
#qbootstrap-started .qbootstrap-heading {
  margin-bottom: 30px;
}
#qbootstrap-started .qbootstrap-heading h2 {
  margin-bottom: 0;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ab9860;
}

/*form-control para comentarios*/

#qbootstrap-started .p-comentarios {
  padding: 5px;
  position: inherit;
  color: #fff;
  width: auto;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
	margin-bottom: 0px;
	font-weight: 700;
	letter-spacing: 2px;
}

#qbootstrap-started .form-control-comentarios {
  /*background: rgba(255, 255, 255, 0.2);*/
  border: 2px solid #ECE8E2;
color: #ece8e2;
  font-size: 16px !important;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 0px;
  transition: 0.5s;
	border-radius: 0px;
}




#qbootstrap-started .form-control-comentarios::-webkit-input-placeholder {
  color: #ece8e2;
}
#qbootstrap-started .form-control-comentarios:-moz-placeholder {
  /* Firefox 18- */
  color: #ece8e2;
}
#qbootstrap-started .form-control-comentarios::-moz-placeholder {
  /* Firefox 19+ */
  color: #ece8e2;
}
#qbootstrap-started .form-control-comentarios:-ms-input-placeholder {
  color: #ece8e2;
}
#qbootstrap-started .form-control-comentarios:focus {
  background: rgba(255, 255, 255, 0.3);
}
#qbootstrap-started .form-control-comentarios {
  width: 100%;
}
.form-control-comentarios {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
}
.form-control-comentarios:active, .form-control-comentarios:focus {
  outline: none;
  box-shadow: none;
  border-color: #ab9860;
}
/*form-control para comentarios*/


/*formato para best wishes y transporte*/

#qbootstrap-started-bwt {
  background-color: #968e6f;
  color: #fff;
  padding: 35px 5px 35px 5px;
}

#qbootstrap-started-bwt h2{
  color: #fff;
	letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  #qbootstrap-started-bwt h2 {
    font-size: 30px;
  }
}

#qbootstrap-started-bwt .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s;
	border-radius: 0px;
}
#qbootstrap-started-bwt .form-control::-webkit-input-placeholder {
  color: #fff;
}
#qbootstrap-started-bwt .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#qbootstrap-started-bwt .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#qbootstrap-started-bwt .form-control:-ms-input-placeholder {
  color: #fff;
}
#qbootstrap-started-bwt .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}


#qbootstrap-started-bwt .form-control-nombre {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s;
	border-radius: 0px;
}
#qbootstrap-started-bwt .form-control-nombre::-webkit-input-placeholder {
  color: #fff;
}
#qbootstrap-started-bwt .form-control-nombre:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#qbootstrap-started-bwt .form-control-nombre::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#qbootstrap-started-bwt .form-control-nombre:-ms-input-placeholder {
  color: #fff;
}
#qbootstrap-started-bwt .form-control-nombre:focus {
  background: rgba(255, 255, 255, 0.3);
}


#qbootstrap-started-bwt .form-control-mensaje {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s;
	border-radius: 0px;
	
}
#qbootstrap-started-bwt .form-control-mensaje::-webkit-input-placeholder {
  color: #fff;
}
#qbootstrap-started-bwt .form-control-mensaje:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#qbootstrap-started-bwt .form-control-mensaje::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#qbootstrap-started-bwt .form-control-mensaje:-ms-input-placeholder {
  color: #fff;
}
#qbootstrap-started-bwt .form-control-mensaje:focus {
  background: rgba(255, 255, 255, 0.3);
}
#qbootstrap-started-bwt .btn {
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: transparent;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 8px 0px;
	margin: 10px 0px;
  line-height: 1.3;
	border-radius: 0px;
	vertical-align: middle;
}
#qbootstrap-started-bwt .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  color: #fff;
}
#qbootstrap-started-bwt .form-inline .form-group .form-control {
  width: 100%;
}
#qbootstrap-started-bwt .form-inline .form-group label.sr-only.asistencia {
  overflow: visible;
  clip: inherit;
  padding: 5px;
  position: inherit;
  color: #fff;
  width: auto;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
}


/*formato para best wishes y transporte*/





#mesaRegalos {
  padding: 10px;
	color: #292929;
}
#mesaRegalos h2 {
	color: #292929;
}
#mesaRegalos .img-responsive {
  width: 50px;
}
#mesaRegalos .section-heading {
  margin: 0;
}
#mesaRegalos h3 {
  text-align: left;
  font-family: inherit;
  font-size: 20px;
}

#mesaRegalos a {
  color: #978351;
  transition: 0.5s;
}
#mesaRegalos a:hover, a:active, a:focus {
  color: #d6d1bf;
  outline: none;
}


#clima {
	color: #000;
	padding: 10px;
}


#clima h3 {
	color: #000;
	text-align: right;
	font-size: 22px;
}

#clima .clima1 {
	padding-top: 20px;
	margin-top: 20px;
}


hr{
      height: 170px;
      width:2px;
      border-width:0;
      background-color:#292929;
		position: absolute;
  		left: 33%;
    }

@media screen and (max-width: 440px) {
hr{
      height: 0px;
      width:px;
      border-width:0;
      background-color:#292929;
		position: absolute;
  		left: 33%;
    }

}


#PAQUETE {
  background-color: #ff2500;
  color: #d6d1bf;
  padding: 35px 0 0;
}

#hospedaje {
  background-color: #968e6f;
  color: #fff;
  padding: 35px 0 0;
}
#hospedaje h2 {
  color: #d6d1bf;
}
#hospedaje h3 {
  color: #fff;
	font-style: italic;
	margin-bottom: 20px;
}

#hospedaje .btn-primary {
  margin-top: 15px;
}

#hospedaje a {
  color: #fff;
  transition: 0.5s;
}
#hospedaje a:hover, a:active, a:focus {
  color: #f2f1e9;
  outline: none;
}

#quehacer {
  background-color: #292929;
  color: #d6d1bf;
  padding: 35px 0 0;
	letter-spacing: 1px;
}

#quehacer p{
	letter-spacing: 2px;
}

#quehacer h3 {
  color: #d6d1bf;
	font-style: italic;
	font-weight: 700;
	padding-bottom: 10px;
	padding-top: 10px;
}

#quehacer .btn {
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: transparent;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 8px 0px;
	margin: 10px 0px;
  line-height: 1.3;
	border-radius: 0px;
	vertical-align: middle;
}

@media screen and (max-width: 440px) {
#quehacer h3 {
  font-size: 20px;
	}
}

#bonus {
  background-color: #292929;
  color: #d6d1bf;
  padding: 35px 0 50;
	letter-spacing: 1px;
}

#bonus p{
	letter-spacing: 2px;
	padding-right: 25px;
}

#bonus h3 {
  color: #d6d1bf;
	font-style: italic;
	font-weight: 700;
	padding-bottom: 10px;
	padding-top: 10px;
}

@media screen and (max-width: 440px) {
#bonus h3 {
  font-size: 20px;
	}
}
/*formato para cancion bonus*/

#bonus .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 14px !important;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: 0.5s;
	border-radius: 0px;
}
#bonus .form-control::-webkit-input-placeholder {
  color: #fff;
}
#bonus .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#bonus .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#bonus .form-control:-ms-input-placeholder {
  color: #fff;
}
#bonus .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#bonus .btn {
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: transparent;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 1.3;
	border-radius: 0px;
	vertical-align: middle;
}
#bonus .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  color: #fff;
}
#bonus .form-inline .form-group .form-control {
  width: 100%;
}
#bonus .form-inline .form-group label.sr-only.asistencia {
  overflow: visible;
  clip: inherit;
  padding: 5px;
  position: inherit;
  color: #fff;
  width: auto;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
}


/*formato para cancion bonus*/



#transporte {
  padding: 0px;
	background: #968e6f;
	color: #fff;
}

#transporte h2 {
	color: #fff;
	letter-spacing: 2px;
}
#transporte a {
	color: #fff;
}

#dresscode {
  padding: 10px;
	background: #968e6f;
}
#dresscode .color {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 40px;
  margin: 10px;
}

#qbootstrap-gallery {
  paddin-top: 50px;
  /*padding-left: 300px;*/
  padding-left: 0px;
	color: #292929;

}

@media screen and (max-width: 440px) {
	#qbootstrap-gallery {
  paddin-top: 50px;
  padding-left: 0px;

}

}

.gallery {
  margin-bottom: 10px;
}

.gallery .gallery-img {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.gallery .gallery-img img {
  position: relative;
  max-width: 100%;
  transform: scale(1);
  transition: 0.9s;
}
.gallery .gallery-img:hover img {
  transform: scale(1.1);
}

#qbootstrap-press {
  background: #f4f4f4;
}

#qbootstrap-press .qbootstrap-press-item {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -moz-flex;
  display: flex;
  border-radius: 0px;
}
@media screen and (max-width: 480px) {
  #qbootstrap-press .qbootstrap-press-item {
    display: block !important;
  }
}
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text,
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text,
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text {
  float: left;
  padding: 20px;
}
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text .qbootstrap-press-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 300;
  font-size: 20px;
  color: #444;
  position: relative;
}
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text .qbootstrap-press-title .qbootstrap-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #d6d1bf;
}
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.qbootstrap-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.qbootstrap-nav-toggle.active i::before, .qbootstrap-nav-toggle.active i::after {
  background: #d6d1bf;
}
.qbootstrap-nav-toggle:hover, .qbootstrap-nav-toggle:focus, .qbootstrap-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.qbootstrap-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 2px;
  color: #d6d1bf;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all 0.2s ease-out;
}
.qbootstrap-nav-toggle i::before, .qbootstrap-nav-toggle i::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: 0.2s;
}

.qbootstrap-nav-toggle i::before {
  top: -7px;
}

.qbootstrap-nav-toggle i::after {
  bottom: -7px;
}

.qbootstrap-nav-toggle:hover i::before {
  top: -10px;
}

.qbootstrap-nav-toggle:hover i::after {
  bottom: -10px;
}

.qbootstrap-nav-toggle.active i {
  background: transparent;
}

.qbootstrap-nav-toggle.active i::before {
  top: 0;
  transform: rotateZ(45deg);
}

.qbootstrap-nav-toggle.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

.qbootstrap-nav-toggle {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .qbootstrap-nav-toggle {
    display: block;
  }
}

.person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.person img {
  display: block;
  margin: 0 auto;
  height: 150px;
  border-radius: 50%;
}
.person .name {
  font-size: 24px;
}
.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#footer {
  background: #292929;
	padding: 10px 0;
	margin-bottom: 0px;
  color: #ece8e2;
}
#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 0;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}
.btn.btn-primary {
  background: transparent;
  color: #d6d1bf;
  border: 1px solid #d6d1bf;
	font-weight: 700;
		border-radius: 0px;
}

.btn.btn-primary3 {
  background: transparent;
  color: #292929;
  border: 1px solid #292929;
	font-weight: 700;
		border-radius: 0px;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #d6d1bf;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #d6d1bf;
  color: #fff;
}
.social li a.social-circle {
  background: #d6d1bf;
  color: #fff;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #d6d1bf;
  color: #fff;
}
.social.social-circle a {
  background: #d6d1bf;
  color: #fff;
  border-radius: 50%;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #d6d1bf;
}

.js .animate-box {
  opacity: 0;
}

.qbootstrap-animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@media screen and (max-width: 440px) {
  .qbootstrap-cover {
    background-position-x: center !important;
    background-position-y: bottom !important;
	      background-size: cover;
  }
  div#qbootstrap-started {
    background-position-x: 40% !important;
    background-position-y: center !important;
  }
  
}
/*Ajuste de centrado de fondos*/
@media screen and (max-width: 768px) {
  .qbootstrap-cover{
    background-position: center !important;
  }
}
.qbootstrap-cover{
    background-position-x: 60% !important;
    background-position-y: 27% !important;
}
#qbootstrap-countdown{
    background-position-x: center !important;
    background-position-y: 40% !important;
}
#qbootstrap-started{
    background-position-x: 40% !important;
    background-position-y: center !important;
}
.personas-container{
  display: flex;
}

.personas-field{
  /*background: rgba(255, 255, 255, 0.2);*/
  border: none;
  border-bottom: 2px solid #ECE8E2;
  color: #fff;
  font-size: 16px !important;
  height: 54px;
  transition: 0.5s;
  border-radius: 0px;
  font-weight: 300;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
	text-transform: uppercase;
	padding-top: 20px;
  	padding-bottom: 0px;
}

/*.comentarios-container{
  display: flex;
}

.comentarios-container p {
  color: #ece8e2;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-size: 16px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-top: 10px;
}*/

.comentarios-field{
  /*background: rgba(255, 255, 255, 0.2);*/
  /*border: 2px solid #ECE8E2;*/
  color: #fff;
  font-size: 16px !important;
  height: 120px;
  transition: 0.5s;
  border-radius: 0px;
  font-weight: 300;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
	text-transform: uppercase;
	padding-top: 20px;
  	padding-bottom: 0px;
}



.plus-container{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.minus-container{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* prueba zam*/

.float{
	position:fixed;
	width:46px;
	height:46px;
	bottom:25px;
	right:25px;
	background-color: rgba(0, 0, 0, 0.1);
	color:#FFF;
	border-radius:50px;
	border: transparent;
	text-align:center;
	/*align-items: center;*/
  justify-content: center;
	vertical-align: middle;
  	font-size:30px;
	text-indent: 3px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.my-float{
	margin-top:5px;
	
}

.my-float a:hover, .my-float a:active, .my-float a:focus {
  text-decoration: none;
}

/* prueba zam header */

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: rgba(41,41,41,1);
  color: #ece8e2;
	height: 50px;
	padding-top: 0px;
	z-index: 99;
}

@media screen and (max-width: 440px) {
  .header {
  height: 80px;
  background: rgba(41,41,41,.8);	
}
}

#myHeader {
  z-index: 99;
}

#myHeader .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#myHeader #navbar li a {
  font-family: "Cormorant Garamond", serif;
  color: rgba(255, 255, 255, 1);
	font-size: 15px;
	letter-spacing: 2px;
  position: relative;
}
#myHeader #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#myHeader #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ece8e2;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
#myHeader #navbar li a:hover {
  color: #fff;
}
#myHeader #navbar li a:hover span:before {
  visibility: visible;
  transform: scaleX(1);
}
#myHeader #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#myHeader #navbar li.active a span:before {
  visibility: visible;
  transform: scaleX(1);
}
#myHeader .navbar-brand {
  float: left;
  display: block;
  font-size: 34px;
  padding-left: 0;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
}

#myHeader.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#myHeader.navbar-fixed-top .navbar-brand {
  color: #ece8e2;
}
#myHeader.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
#myHeader.navbar-fixed-top #navbar li a:hover {
  color: #ece8e2;
}
#myHeader.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #ece8e2;
}
#myHeader.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  transform: scaleX(1);
}
#myHeader .navbar-default {
  border: transparent;
  background: transparent;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #myHeader .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
/*adri INICIO*/
	ul.nav.navbar-nav {
    /*background: #292929;*/
    background: rgba(41,41,41,.8);
  }
  .logoFam{
    display: none !important;
  }
	
}

@media screen and (min-width: 768px) {
  .header .logo-left{
    display: none !important;
  }
}
/*adri FIN*/


#myHeader .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#myHeader .navbar-default .brand-slogan em {
  color: #ece8e2;
  font-style: normal;
}

.qbootstrap-hero .btn {
  border: 1px solid rgba(214, 209, 191, 1);
  color: #1200ff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.3;
	border-radius: 0px;
	vertical-align: middle;
	
}

.header .logo {
  height: 80px;
  /*margin-bottom: -80px;*/
	margin-top: -33px;
  padding: 0;
	z-index: 0;
}

@media screen and (max-width: 440px) {
  .header .logo {
  height: 55px;
  /*margin-bottom: -80px;*/
	margin-top: -13px;
  padding: 0;
	z-index: 0;
}
}